# Gitignore our IDE settings
.vscode/
.DS_Store
.idea/

# Popular django gitignore
*.log
*.pot
*.pyc
__pycache__/

# Gitignore our database
db.sqlite3
# Gitignore our static media
media
# Gitignore our migrations
*/migrations/*
