# Gitignore our IDE settings
.vscode/
.DS_Store
.idea/

# Database
db.sqlite3

# Popular django gitignore
*.log
*.pot
*.pyc
__pycache__/

# Gitignore our database
db.sqlite3
# Gitignore our static media
media
# Gitignore our static files
mysite/static/
staticfiles/
