html {
   font-family: sans-serif;
   line-height: 1.15;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
   margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
   display: block;
}

h1 {
   font-size: 2em;
   margin: 0.67em 0;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-weight: normal;
   line-height: 1;
   word-wrap: break-word;
   text-rendering: optimizeLegibility;
   -webkit-overflow-scrolling: touch;
   -webkit-text-size-adjust: none;
}

body,
input,
button {
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6 {
   -webkit-font-smoothing: auto;
   -webkit-font-smoothing: antialiased;
   -webkit-font-variant-ligatures: common-ligatures;
   -moz-font-variant-ligatures: common-ligatures;
   font-variant-ligatures: common-ligatures;
   text-rendering: optimizeLegibility;
}

em,
i {
   font-style: italic;
   line-height: inherit;
}

strong,
b {
   font-weight: bold;
   line-height: inherit;
}

small {
   font-size: 60%;
   line-height: inherit;
}

ol,
ul {
   list-style: none;
}

li {
   display: block;
}

.row {
   width: 94%;
   max-width: 1200px;
   margin: 0 auto;
}

.row:after {
   content: "";
   display: table;
   clear: both;
}

.row .row {
   width: auto;
   max-width: none;
   margin-left: -20px;
   margin-right: -20px;
}
