.amenity-box {
  margin-bottom: 8px;
}

.amenity-box p {
  font-size: 18px;
  font-weight: 300;
  margin: auto 12px;
}

.amenity-icon-yes {
  padding: .5em;
  background: green;
  border-radius: 999px;
  color: white;
  font-size: 1.4em;
  line-height: .75em;
  width: 2.5em;
}

.amenity-icon-no {
  padding: .5em;
  background: #a0a0a0;
  border-radius: 999px;
  color: white;
  font-size: 1.4em;
  line-height: .75em;
  width: 2.5em;
}

.contact-icon {
  margin-bottom: 8px;
  margin-right: 12px;
  background: #333;
  border-radius: 999px;
  font-size: 0.9em;
  padding: .5em;
  color: white;
}

.review-vote-btn {
  cursor: pointer;
  background: none;
  border: none;
  padding: 8px;
  font-size: 24px;
}

#review-vote-btn-disabled {
    color: gray !important;
    cursor: default;
}

.upvote {
  color: gray;
}

.de-upvote {
  color: orange;
}
