.amenity-box {
  margin-bottom: 8px;
}

.amenity-box p {
  font-size: 18px;
  font-weight: 300;
  margin: auto 12px;
}

.amenity-icon {
  padding: .6em;
  background: #a0a0a0;
  border-radius: 999px;
  color: white;
  font-size: 1.4em;
  line-height: .75em;
}
