{% extends 'base.html' %}
{% block content %}
<h1> Search Units </h1>
<hr>
<form type="GET" action="{% url 'housing:advanced_search_form' %}" class="form-inline" style="margin: 0">
  <div class="form-group mb-2">
    <input  type="text" value="{{request.GET.search_box}}"name="search_box" class="form-control"  placeholder="Building Name" >
  </div>
  <div class="form-group mx-sm-1 mb-2">
    <select class="form-control" id="bedroom"  value="{{request.GET.bedrooms}}"name="bedrooms">
      <option value=""># bedrooms</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
    <div class="form-group mx-sm-1 mb-2">
    <select class="form-control" id="bathroom"  value="{{request.GET.bathrooms}}"name="bathrooms">
      <option value=""># bathrooms</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group mx-sm-1 mb-2">
    <select class="form-control" id="neighborhood" value="{{request.GET.neighborhood}}"name="neighborhood">
      <option value="">Select Neighborhood</option>
      <option>Corner</option>
      <option>West Main</option>
      <option>Rugby</option>
      <option>Jefferson Park Avenue</option>
    </select>
  </div>
  <br>
  <div class="form-group mx-sm-1 mb-2">
      <select class="form-control" id="pet_allowed" value="{{request.GET.pet_allowed}}" name="pet_allowed">
          <option value="">Pet Allowed</option>
          <option value="True">Yes</option>
          <option value="False">No</option>
      </select>
  </div>
  <div class="form-group mx-sm-1 mb-2">
      <select class="form-control" id="parking" value="{{request.GET.parking}}" name="parking">
          <option value="">Parking Available</option>
          <option value="True">Yes</option>
          <option value="False">No</option>
      </select>
  </div>
  <div class="form-group mx-sm-1 mb-2">
      <select class="form-control" id="furnished" value="{{request.GET.furnished}}" name="furnished">
          <option value="">Select Furnishing</option>
          <option value="True">Furnished</option>
          <option value="False">Unfurnished</option>
      </select>
  </div>
  <div class="form-group mx-sm-1 mb-2">
      <select class="form-control" id="air_condition" value="{{request.GET.air_condition}}" name="air_condition">
          <option value="">Air Conditioning</option>
          <option value="True">Yes</option>
          <option value="False">No</option>
      </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

{% if isSearchResult %}
  <div>
    {% if buildings %}

    {% for building in buildings %}
    {%if building.approved%}
    <div>
        <a href="{% url 'housing:building_detail' building.id %}">
        <h3>{{ building.name }}</h3>
        </a>
        <p>Address: {{ building.address }}</p>
    </div>
    {%endif%}
    {% endfor %}

    {% else %}
    <p>No results for this search. Want to <a href="{% url 'housing:add_building' %}">add a building</a>?</p>
    {% endif %}
  </div>
{% endif %}

{% endblock %}