{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load vote_functions %}

{% load static %}

{% block content %}

<link rel="stylesheet" href='{% static "building_detail.css" %}' crossorigin="anonymous">

<div>

  <h1>{{ building.name }} <span class="badge badge-primary" style="margin-left: 5px">New</span></h1>
  <h5> {{ building.address }} </h5>
  <hr>
  {% if user.username == building.admin %}
  <a href="{% url 'housing:edit_building' pk=building.id %}">Edit Building</a>
  <hr>
  {% endif %}

  <div class="row">
    <div class="col-7">
      {% if building.image %}
      <img src="{{ building.image.url }}" class="img-fluid" />
      {% else %}
      <img src="/files/default-building.png" class="img-fluid" />
      {% endif %}
    </div>
    <div class="col-5 text-center">
      <br>
      <br>
      <div class="row amenity-box">
        <i class="amenity-icon fas fa-dog"></i>
        <p class="center">Allows Pets</p>
      </div>
      <div class="row amenity-box">
        <i class="amenity-icon far fa-snowflake"></i>
        <p class="center">Has Air Conditioning</p>
      </div>
    </div>
  </div>

  <hr>
  <div class="text-center">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Contact</a>
  </div>
  <hr>

  <h5>Units available:</h5>
  {% if building.unit_set.all %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Number of Bedrooms</th>
      <th scope="col">Square Footage</th>
      <th scope="col">Monthly Rent</th>
    </tr>
  </thead>
    <tbody>
    {% for unit in building.unit_set.all %}
    <tr>
      <th scope="row">#</th>
      <td>{{ unit.num_bedrooms }}</td>
      <td>{{ unit.square_footage }}</td>
      <td>{{ unit.monthly_rent }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p> No units to show for {{ building.name }}.</p>
  {% endif %}
  {% if user.username == building.admin %}
  <a href="{% url 'housing:add_unit' building.id %}">add a unit</a>
  {% endif %}


</div>
{% if user.username == building.admin %}
<form method="post" action={% url 'housing:upload_building_image' building.id %} enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button class="btn btn-success" type="submit">Upload Image</button>
</form>
{% endif %}
<br>

<div>
  <h5>Reviews:</h5>
  {% if building.review_set.all %}
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="reviewSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="reviewSort">
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-date">Most recent first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-helpful_score">Most helpful first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-rating">Highest rating first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/rating">Lowest rating first</a>
  </div>
  </div>
  {% for review in reviews %}
  <ul>
    <li> Rating: {{review.rating }}</li>
    <li>Reviewer Name: {{review.name}}</li>
    <li>{{review.review_text}}</li>
    <li>{{review.helpful_score}} users found this review helpful.</li>
    <script>var has_voted = False</script>
    {% if user.is_authenticated %}
          {% if user.username != building.admin %}
    <li><a href="{% url 'housing:helpful_vote' pk=building.id reviewer_name=review.name voter_name=user.username sorting=sorting%}">I found this helpful</a></li>
          {% endif %}
    {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:building_detail' pk=building.id %}">Log in to vote on reviews!</a><br>
    {% endif %}
  </ul>
  {% endfor %}
  {% else %}
  <p> No reviews available at this time.</p>
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.username != building.admin %}
    <a href="{% url 'housing:add_review' pk=building.id %}">Leave a review</a>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:add_review' pk=building.id %}">Log in to leave a review</a><br>
  {% endif %}
</div>



<br>

{% include 'map.html' with address=building.address %}

{% endblock %}
