{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load vote_functions %}

{% block content %}
<div>
  <h3 style="display: inline;">Building Detail for {{ building.name }}</h3>
  {% if user.username == building.admin %}
  <a href="{% url 'housing:edit_building' pk=building.id %}">Edit Building</a>

  {% endif %}
  
  <p> Address: {{ building.address }} </p>
  <br>
  <h5>Units available:</h5>

  {% if building.image %}
  <img src="{{ building.image.url }}" />
  {% endif %}

  {% if building.unit_set.all %}
  {% for unit in building.unit_set.all %}
  <ul>
    <li>Number of Bedrooms: {{ unit.num_bedrooms }}</li>

    <li>Square Footage: {{ unit.square_footage }}</li>
    <li>Monthly Rent: {{ unit.monthly_rent }}</li>

  </ul>
  {% endfor %}
  {% else %}
  <p> No units to show for {{ building.name }}.</p>
  {% endif %}
  {% if user.username == building.admin %}
  <a href="{% url 'housing:add_unit' building.id %}">add a unit</a>
  {% endif %}


</div>
{% if user.username == building.admin %}
<form method="post" action={% url 'housing:upload_building_image' building.id %} enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image">
    <button class="btn btn-success" type="submit">Upload Image</button>
</form> 
{% endif %}
<br>

{% if user.is_authenticated %}
  <a href="{% url 'housing:favoriteBuilding' building.id %}">
    {% if user in building.favorites.all %}
    unfavorite
    {% else %}
    favorite
    {% endif %}
  </a>
  <span class = "badge badge-notify">
    {{ building.favorites.count }}
  </span>
{% endif %}


<div>
  <h5>Reviews:</h5>
  {% if building.review_set.all %}
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="reviewSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="reviewSort">
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-date">Most recent first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-helpful_score">Most helpful first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/-rating">Highest rating first</a>
    <a class="dropdown-item" href="/buildings/{{ building.id }}/rating">Lowest rating first</a>
  </div>
  </div>
  {% for review in reviews %}
  <ul>
    <li>{{review.building}}</li>
    <li> Rating: {{review.rating }}</li>
    <li>Reviewer Name: {{review.name}}</li>
    <li>{{review.review_text}}</li>
    <li>{{review.helpful_score}} users found this review helpful.</li>
    <script>var has_voted = False</script>
    {% if user.is_authenticated %}
          {% if user.username != building.admin %}
    <li><a href="{% url 'housing:helpful_vote' pk=building.id reviewer_name=review.name voter_name=user.username sorting=sorting%}">I found this helpful</a></li>
          {% endif %}
    {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:building_detail' pk=building.id %}">Log in to vote on reviews!</a><br>
    {% endif %}
  </ul>
  {% endfor %}
  {% else %}
  <p> No reviews available at this time.</p>
  {% endif %}
  {% if user.is_authenticated %}
    {% if user.username != building.admin %}
    <a href="{% url 'housing:add_review' pk=building.id %}">Leave a review</a>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:add_review' pk=building.id %}">Log in to leave a review</a><br>
  {% endif %}
</div>



<br>

{% include 'map.html' with address=building.address %}

{% endblock %}
