{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load vote_functions %}

{% load static %}

{% block content %}

<link rel="stylesheet" href='{% static "building_detail.css" %}' crossorigin="anonymous">

<div>

  <div class="container">
    <div class="row">
      <div class="col">
  <h1>{{ building.name }} <span class="badge badge-primary" style="margin-left: 5px">New</span>
  {% if user.is_authenticated %}
    {% if user in building.favorites.all %}
  <a href="{% url 'housing:favoriteBuilding' building.id %}"><i class="fas fa-heart" style="color:red"></i></a>
    {% else %}
  <a href="{% url 'housing:favoriteBuilding' building.id %}"><i class="far fa-heart" style="color:red"></i></a>
    {% endif %}
  {% endif %}      
  </h1>
      </div>
      <div class="col">
      </div>
      <div class="col">
        {% if building.rating == 1 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 1.5 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 2 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 2.5 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 3 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 3.5 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 4 %}
          <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
          </h1>
        {% elif building.rating == 4.5 %}
       <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
       </h1>
        {% elif building.rating == 5 %}
        <h1>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
       </h1>
        {% endif %}
      </div>
    </div>
  <div class="row">
    <div class="col">
      <h5> {{ building.address }} </h5>
    </div>

  </div>
  </div>
  <hr>
  {% if user.username == building.admin %}
  <div class="card bg-light" style="margin: 40px 0">
    <div class="card-body">
      <h3> Admin Panel </h3>
      <a class="btn btn-info" href="{% url 'housing:edit_building' pk=building.id %}" style="margin-bottom:16px">Edit Information for {{building.name}}</a>
      <h6> Upload a picture: </h6>
      <form method="post" action={% url 'housing:upload_building_image' building.id %} enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="image">
          <button class="btn btn-success" type="submit">Upload Image</button>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-6">
      {% if building.image %}
      <img src="{{ building.image.url }}" class="img-fluid" />
      {% else %}
      <img src="/files/default-building.png" class="img-fluid" />
      {% endif %}
      {% if user.username == building.admin %}
      {% endif %}
    </div>
    <div class="col-6 text-center">
      {% if building.pet_allowed %}
      <div class="row amenity-box">
        <i class="amenity-icon fas fa-dog"></i>
        <p>Allows Pets</p>
      </div>
      {% endif %}
      {% if building.is_furnished %}
      <div class="row amenity-box">
        <i class="amenity-icon fas fa-couch"></i>
        <p>Comes With Furniture</p>
      </div>
      {% endif %}
      {% if building.air_conditioning %}
      <div class="row amenity-box">
          <i class="amenity-icon far fa-snowflake"></i>
          <p>Has Air Conditioning</p>
      </div>
      {% endif %}
      {% if building.gym %}
      <div class="row amenity-box">
        <i class="amenity-icon fas fa-dumbbell"></i>
        <p>Onsite Gym</p>
      </div>
      {% endif %}
      {% if building.pool %}
      <div class="row amenity-box">
        <i class="amenity-icon fas fa-swimmer"></i>
        <p>Has Own Pool</p>
      </div>
      {% endif %}
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-8">
      {% include 'map.html' with address=building.address %}
    </div>
    <div class="col-4">
      <div class="text-center">
        <div class="row"><h4> Contact Us </h4></div>
        <div class="row">
          {% if building.website_link %}
            <i class="contact-icon fas fa-desktop"></i>
            <a href="{{building.website_link}}">{{building.website_link}}</a>
            <br>
          {% endif %}
        </div>
        <div class="row">
          {% if building.phone_number %}
            <i class="contact-icon fas fa-phone"></i>
            {{ building.phone_number }}
            <br>
          {% endif %}
        </div>
        <div class="row">
          {% if building.email %}
            <i class="contact-icon fas fa-envelope-square"></i>
            {{ building.email }}
            <br>
          {% endif %}
        </div>
      </div>
    </div>
</div>
<hr>

<div>

<!-- Units-->
<div class="row">
  <div class="col">
    <h5>Units available:</h5>
    {% if building.unit_set.all %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Number of Bedrooms</th>
        <th scope="col">Square Footage</th>
        <th scope="col">Monthly Rent</th>
      </tr>
    </thead>
      <tbody>
      {% for unit in building.unit_set.all %}
      <tr>
        <th scope="row">#</th>
        <td>{{ unit.num_bedrooms }}</td>
        <td>{{ unit.square_footage }}</td>
        <td>{{ unit.monthly_rent }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p> No units to show for {{ building.name }}.</p>
    {% endif %}
    {% if user.username == building.admin %}
    <a href="{% url 'housing:add_unit' building.id %}">add a unit</a>
    {% endif %}
  </div>
</div>

<hr>

<!-- Reviews -->
<div class="row">
  <div class="col">
    <h5>Reviews:</h5>
    {% if reviews %}
      <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="reviewSort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="reviewSort">
        <a class="dropdown-item" href="/buildings/{{ building.id }}/-date">Most recent first</a>
        <a class="dropdown-item" href="/buildings/{{ building.id }}/-helpful_score">Most helpful first</a>
        <a class="dropdown-item" href="/buildings/{{ building.id }}/-rating">Highest rating first</a>
        <a class="dropdown-item" href="/buildings/{{ building.id }}/rating">Lowest rating first</a>
      </div>
      </div>
    <br>
      {% for review in reviews %}
      <ul>
      {% if review.rating == 1 %}
        <h3>
      <div class="row">
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        &nbsp "{{review.header}}"
      </div>
        </h3>
      {% elif review.rating == 2 %}
      <h3>
      <div class="row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        &nbsp "{{review.header}}"
      </div>
        </h3>
      {% elif review.rating == 3 %}
      <h3>
      <div class="row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        &nbsp "{{review.header}}"
      </div>
        </h3>
      {% elif review.rating == 4 %}
      <h3>
      <div class="row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        &nbsp "{{review.header}}"
      </div>
        </h3>
      {% elif review.rating == 5 %}
      <h3>
      <div class="row">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        &nbsp "{{review.header}}"
      </div>
      </h3>
      {% endif %}
        <h6><small>Published by {{review.name}} on {{review.date}}</small></h6>
        <h4>{{review.review_text}}</h4>
        <h6><small>{{review.helpful_score}} users found this review helpful.</small></h6>
        {% if user.is_authenticated %}
            {% if review not in upvoted_reviews %}
              {% if user.username != building.admin %}
                <h6>
                  <a class="btn btn-success" href="{% url 'housing:helpful_vote' pk=building.id reviewer_name=review.name voter_name=user.username sorting=sorting%}" role="button">I found this helpful</a>
                </h6>
              {% endif %}
            {% else %}
                <h6>
                  <a class="btn btn-danger" href="{% url 'housing:helpful_vote' pk=building.id reviewer_name=review.name voter_name=user.username sorting=sorting%}" role="button">I no longer find this helpful</a>
                </h6>
            {% endif %}
        {% else %}
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:building_detail' pk=building.id %}">Log in to vote on reviews!</a><br>
        {% endif %}
      </ul>
    <br>
      {% endfor %}
    {% else %}
      <p> No reviews available at this time.</p>
    {% endif %}
    {% if user.is_authenticated %}
      {% if user.username != building.admin %}
      <a href="{% url 'housing:add_review' pk=building.id %}">Leave a review</a>
      {% else %}
      <p><b> Sorry, you can't leave a review for your own building. 🙂 </b></p>
      {% endif %}
    {% else %}
      <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'housing:add_review' pk=building.id %}">Log in to leave a review</a><br>
    {% endif %}
  </div>
</div>
<br>

{% endblock %}
