{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<h3>Edit Building </h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
	{% csrf_token %}
    {{ form|crispy }}
		{% include 'address.html' %}
		<br>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
	{% endif %}
{% else %}
<h3>You don't have the necessary permissions to access this page.</h3>

<a href="{% url 'housing:index'%}">Return to the homepage</a>
{% endif %}
{% endblock %}