{% extends 'base.html' %}
{% block content %}

<h3> Housing List </h3>

<div class="row building-row">
	{% if buildings %}
		{% for building in buildings %}
		{% if building.approved %}
		<div class="card" style="width: 18rem;">
			<img class="card-img-top" src="{{ building.get_image_url }}" alt="Card image cap">
			<div class="card-body">
				<div class="card-title">
	        <a href="{% url 'housing:building_detail' building.id %}">
	        {{ building.name }}
	        </a>
				</div>
	        <p class="card-text">Address: {{ building.address }}</p>
				</div>
			</div>
		{% endif %}
		{% endfor %}

	{% else %}
		No buildings found. Want to <a href="{% url 'housing:add_building' %}">add one</a>?
	{% endif %}
</div>
<a href="{% url 'housing:add_building'%}">add a building</a>
{% endblock %}
