{% extends 'base.html' %}
{% block content %}

<h3> Housing List </h3>

<div>
	{% if buildings %}
	    {%for building in buildings%}
	    <div>
	        <a href="{% url 'housing:building_detail' building.id %}">
	        <h3>{{ building.name }}</h3>
	        </a>
	        <p>Address: {{ building.address }}</p>
	    </div>
    	{%endfor%}
	{% else %}
		No buildings found. Want to <a href="{% url 'housing:add_building' %}">add one</a>?
	{% endif %}
</div>
<a href="{% url 'housing:add_building'%}">add a building</a>
{% endblock %}
