<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #E7E7E7">
  <a class="navbar-brand" id="hoos-housing">Hoos' Housing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li {% if request.path=="/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li {% if "/search" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'housing:search' %}">
          Search
        </a>
      </li>
      {% if user.is_superuser %}
      <li {% if "/review" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'housing:review' %}">
          Review Buildings
        </a>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto" style="padding-right: 22px">
      {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'housing:myFavorites' %}">Favorites</a>
          <a class="dropdown-item" href="{% url 'housing:myReviews' %}">Reviews</a>
          <a class="dropdown-item" href="{% url 'housing:logout' %}">Log Out</a>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}">
          Log In
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
