<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #E7E7E7">
  <a class="navbar-brand">Hoos' Housing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li {% if request.path == "/" %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="/">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li {% if "/search" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'housing:search' %}">
          Search
        </a>
      </li>
      <li {% if "/myaccount" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'housing:myaccount' %}">
          My Account
        </a>
      </li>
      {% if user.is_superuser %}
      <li {% if "/review" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{% url 'housing:review' %}">
          Review Buildings
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav> -->

{% load static %}
<link rel="stylesheet" href={% static "main.css" %}>
<link rel="stylesheet" href={% static "base.css" %}>

<section class="s-pageheader s-pageheader--home">

  <header class="header">
    <div class="header__content row">

      <div class="header__logo">
        <a class="logo" href="/">
          <h4 style="color: white"> Hoos Housing. </h4>
        </a>
      </div>

      <div style="margin-left: auto" class="row">
          <li {% if "/search" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="{% url 'housing:search' %}">
              Search
            </a>
          </li>

          <li {% if "/myaccount" in request.path %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
            <a class="nav-link" href="{% url 'housing:myaccount' %}">
              Sign In
            </a>
          </li>
      </div>
    </div>
  </header>
</section>
