{% extends 'base.html' %}
{% block content %}
<h1> Search Units </h1>
<hr>
<form type="GET" action="{% url 'housing:search_form' %}" class="form-inline" style="margin: 0">
  <div class="form-group mb-2">
    <input  type="text" value="{{request.GET.search_box}}"name="search_box" class="form-control"  placeholder="Building Name" >
  </div>
  <div class="form-group mx-sm-1 mb-2">
    <select class="form-control" id="bedroom"  value="{{request.GET.bedrooms}}"name="bedrooms">
      <option disabled select value>Select number of bedrooms</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group mx-sm-1 mb-2">
    <select class="form-control" id="neighborhood" value="{{request.GET.neighborhood}}"name="neighborhood">
      <option disabled select value>Select Neighborhood</option>
      <option>Corner</option>
      <option>West Main</option>
      <option>Rugby</option>
      <option>Jefferson Park Avenue</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>

{% if isSearchResult %}
  <div>
    {% if buildings %}

    {% for building in buildings %}
    <div>
        <a href="{% url 'housing:building_detail' building.id %}">
        <h3>{{ building.name }}</h3>
        </a>
        <p>Address: {{ building.address }}</p>
    </div>
    {% endfor %}

    {% else %}
    <p>No results for this search. Want to <a href="{% url 'housing:add_building' %}">add a building</a>?</p>
    {% endif %}
{% endif %}

{% endblock %}